<div class="logo">
    <a href="index.html">
        <img src="images/logo.jpg" alt="">
    </a>
</div>
<div class="menu">
    <a class="toggleMenu" href="#">
        <img src="images/nav_icon.png" alt="" />
    </a>
    <ul class="nav" id="nav">
        <li>
            <a id="menu-home" href="index.html">首页</a>
        </li>
        <li>
            <a id="menu-local" href="local.html">上下班拼座</a>
        </li>
        <li>
            <a id="menu-long" href="long-distance.html">长途拼座</a>
        </li>
        <li>
            <a id="menu-need" href="passenger-need.html">乘客需求</a>
        </li>
        <li>
            <a id="menu-share" href="passenger-share.html">拼座分享</a>
        </li>
        <li>
            <a id="menu-route" href="release-route.html">发布线路</a>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
<div class="clearfix"></div>