<p>
        <a href="">关于拼座族</a>
        |
        <a href="">关于拼座族</a>
        |
        <a href="">关于拼座族</a>
        |
        <a href="">关于拼座族</a>
        |
        <a href="">关于拼座族</a>
</p>
<p>
        <a href="">
                Copyright Reserved 2007-2011 AA制拼车、搭乘顺风车，仅在AA拼车网（www.aapinche.cn） ICP备12001863号-3
        </a>
</p>