<div class="page-list-title">
  <h4 class="page-header passenger-h">上下班拼座</h4>
</div>
<div class="page-list">
  <ul>
    <% lines.each(function(line,i){ %> 
      <li class="<%= i==lines.length-1?'last':'' %>">
        <%== can.view.render('js/app/views/local/local.ejs',{line:line}) %>
      </li>
    <% }); %>
  </ul>
</div>
<!-- paging start  -->
<div class="text-right">
  <ul class="pagination">
    <li class="disabled">
      <a href="#">&laquo;</a>
    </li>
    <li class="active">
      <a href="#">
        1
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li>
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">3</a>
    </li>
    <li>
      <a href="#">4</a>
    </li>
    <li>
      <a href="#">5</a>
    </li>
    <li>
      <a href="#">&raquo;</a>
    </li>
  </ul>
</div>
<!-- paging end -->