<div id="user-header" class="user-center-userHeader">
  <a class="mt15" href="">
    <img class="m15" src="images/header.png">
  </a>
  <span>心情</span>
</div>
<!---- left-menu start ---->
<div  class="mt15">
  <div class="panel-group" id="accordion">
    <div class="panel text-center user-left-menu-h4">
      <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseOne">
        <div class="panel-heading">
          <h4 class="panel-title "> <i class="fa fa-user  pr10"></i>
            账户信息
          </h4>
        </div>
      </a>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body user-left-menu-body" >
          <ul id="userMsg" class="nav nav-list collapse.in menu-second ">
            <li>
              <a id="account-basic" href="javascript:void(0)">基本信息</a>
            </li>
            <li>
              <a id="account-header" href="javascript:void(0)">修改头像</a>
            </li>
            <li>
              <a id="account-number" href="javascript:void(0)">账号绑定</a>
            </li>
            <li>
              <a id="account-payrecord" href="javascript:void(0)">充值记录</a>
            </li>
            <li>
              <a id="account-awardrecord" href="javascript:void(0)">抽奖记录</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel text-center user-left-menu-h4">
      <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseTwo">
        <div class="panel-heading">
          <h4 class="panel-title "> <i class="fa fa-credit-card pr10"></i>
            用户认证
          </h4>
        </div>
      </a>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body user-left-menu-body">
          <ul id="userIdtf" class="nav nav-list collapse.in menu-second">
            <li>
              <a id="certificate-realname" href="javascript:void(0)">实名认证</a>
            </li>
            <li>
              <a id="certificate-driver" href="javascript:void(0)">驾驶认证</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel text-center user-left-menu-h4">
      <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseThree">
        <div class="panel-heading">
          <h4 class="panel-title ">

            <i class="fa fa-car  pr10"></i>
            我的拼座
          </h4>
        </div>
      </a>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body user-left-menu-body">
          <ul id="userCarShare" class="nav nav-list collapse.in menu-second">
            <li>
              <a id="myroute-driver" href="javascript:void(0)">我是司机</a>
            </li>
            <li>
              <a id="myroute-passenger" href="javascript:void(0)">我是乘客</a>
            </li>
            <li>
              <a id="myroute-route" href="javascript:void(0)">拼座动态</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="panel text-center user-left-menu-h4">
      <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseFour">
        <div class="panel-heading">
          <h4 class="panel-title ">

            <i class="fa fa-share-alt pr10"></i>
            我的分享
          </h4>
        </div>
      </a>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body user-left-menu-body">
          <ul id="userArticle" class="nav nav-list collapse.in menu-second">
            <li>
              <a id="center-myarticle" href="javascript:void(0)">我的帖子</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel text-center user-left-menu-h4">
      <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseFive">
        <div class="panel-heading">
          <h4 class="panel-title ">

            <i class="fa fa-comments-o pr10"></i>
            我的消息
          </h4>
        </div>
      </a>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body user-left-menu-body">
          <ul id="userInform" class="nav nav-list collapse.in menu-second">
            <li>
              <a id="message-message" href="javascript:void(0)">通知消息</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel text-center user-left-menu-h4">
      <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseSix">
        <div class="panel-heading">

          <h4 class="panel-title ">

            <i class="fa fa-taxi pr10"></i>
            我的车辆
          </h4>
        </div>
      </a>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body user-left-menu-body">
          <ul id="userCarMsg" class="nav nav-list collapse.in menu-second">
            <li>
              <a id="car-mycar" href="javascript:void(0)">车辆信息</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>