<div class="user-cr">
  <dl class="cr666 f14">
    <dt  class="f16 mb10">
      你好，
      <span class="cr2e">心情</span>
    </dt>
    <dd class="f16 mb10">
      <label >可使用短信数：</label>

      <span class="cr2e pr10">
        50 <strong class="cr666">元</strong>
      </span>

      <button type="button" class="btn btn-default ml20">充值</button>
    </dd>
    <dd class="f16 mb10">
      <label class="fl">诚信等级：</label>
      <img src="images/level.png"></dd>
    <dd class="f16 mb10">
      <label class="fl">验证信息：</label>
      <span class="cr999"> <i class="fa fa-envelope-o fa-lg p10"></i>
        <a class="cr999" href="">未认证</a>
      </span>
      <span class="cr999"> <i class="fa fa-mobile fa-lg p10"></i>
        <a class="cr999" href="">未认证</a>
      </span>
    </dd>
    <dd class="comm-line"></dd>
    <dd class="f16 mb10">
      <label class="fl">用户认证：</label>
      <span class="cr999">
        <i class="fa fa-user fa-lg p10"></i>
        <a class="cr999" href="">未认证</a>
      </span>
      <span class="cr999">
        <i class="fa fa-credit-card fa-lg p10"></i>
        <a class="cr999" href="">未认证</a>
      </span>
    </dd>
    <dd class="f16 mb10">
      <label class="fl">拼座成功次数：</label>
      <span class="cr2e pr10">
        10 <strong class="cr666">次</strong>
      </span>
    </dd>
  </dl>
</div>