<div class="mt20 ml20">
  <H4>我的拼路线</H4>
</div>
<div class="user-cr frame-border">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>出发日期</th>
        <th>线路</th>
        <th>剩余座位</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <i class="fa fa-user fa-lg cr3b9 pr15"></i>
          2014-9-6
        </td>
        <td>
          <a href="">重庆市：长寿区->丰都县</a>
        </td>
        <td>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </td>
        <td>
          <a href="#">保存</a>
          <a class="ml10" href="#">取消</a>
        </td>
      </tr>
      <tr>
        <td> <i class="fa fa-car fa-lg cr999 pr15"></i>
          2014-9-6
        </td>
        <td>
          <a href="">重庆市：长寿区->丰都县</a>
        </td>
        <td>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </td>
        <td>
          <a href="#">保存</a>
          <a class="ml10" href="#">取消</a>
        </td>
      </tr>
      <tr>
        <td>2014-9-6</td>
        <td>
          <a href="">重庆市：长寿区->丰都县</a>
        </td>
        <td>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </td>
        <td>
          <a href="#">保存</a>
          <a class="ml10" href="#">取消</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>