<form role="form" class="m30">
  <div class="form-group">
    <label for="exampleInputEmail1">登录拼座族</label>
  </div>
  <div class="form-group ">
    <input type="text" name="user_phone" class="form-control input-lg frame-nradius " id="username" placeholder="手机/邮箱" /><br />
    <sapn id="username_msg"></sapn>
  </div>
  <div class="form-group">
    <input type="password" name="user_password" class="form-control input-lg frame-nradius" id="password" placeholder="密码" />
    <sapn id="password_msg"></sapn>
    </div>
  <div class="form-group">
    <div class="">
      <div class="checkbox">
        <label>
          <input id="isRememberPwd" type="checkbox">记住密码</label>
        <a  class="cr5b ml15 f14 fr " href="user-register.html" >立即注册</a>
        <span class="s ml15 f14 fr">|</span>
        <a  class="cr5b ml15 f14 fr " href="psw-back.html">忘记密码</a>
      </div>
    </div>
  </div>
  <div class="mt30 pb20">
    <button id="submit" type="button" class="btn btn-info btn-lg w frame-nradius">立即登录</button>
  </div>
</form>