<div class=" text-center m10">
    <h3>用户注册</h3>
</div>
<form class="form-horizontal m50" role="form">

    <div class="form-group m30">
        <label for="inputemail" class="col-xs-3 control-label">邮箱：</label>
        <div class="col-xs-5">
            <input type="text" class="form-control frame-nradius" id="inputMobile" placeholder="邮箱">
        </div>
        <span id="mail-email" class="col-xs-4 f12  control-label tl">亲，请输入正确邮箱
        </span>
    </div>
    <div class="form-group m15">
        <div class="col-xs-offset-3  col-xs-9">

            <label>
                没有邮箱？
                <a id="mail-reg" href="javascript:void(0)">用手机注册</a>
            </label>

        </div>
    </div>

    <div class="form-group m30 ">
        <label for="inputPassword" class="col-xs-3 control-label">密码：</label>
        <div class="col-xs-5">
            <input type="password" class="form-control frame-nradius" id="inputPassword" placeholder="密码">
        </div>
        <span id="mail-psd" class="col-xs-4 f12 crred control-label tl">
        <i class="fa fa-times-circle crred fa-lg mr5"></i>输入密码
        </span>
    </div>
    <div class="form-group m30 ">
        <label for="inputPassword" class="col-xs-3 control-label">确认密码：</label>
        <div class="col-xs-5">
            <input type="password" class="form-control frame-nradius" id="inputPassword" placeholder="确认密码" />
        </div>
        <span id="mail-rpsd" class="col-xs-4 f12 crred control-label tl">
            <i class="fa fa-times-circle crred fa-lg mr5">
            </i>
            两次密码输入不一致
        </span>
    </div>
    <!--<div class="form-group m30">
        <label for="" class="col-xs-3 control-label">输入验证码：</label>
        <div class="col-xs-3">
            <input type="text" class="form-control frame-nradius" id="" placeholder="验证码"></div>

        <div class="col-xs-6">
            <button type="button" class="btn btn-default frame-nradius">获取短信验证码</button>
        </div>
    </div>-->

    <div class="form-group m30">
        <label for="inputName" class="col-xs-3 control-label">姓名/昵称：</label>
        <div class="col-xs-5">
            <input type="text" class="form-control frame-nradius" id="inputName" placeholder="姓名/昵称">
        </div>
    </div>
    <div class="form-group m30">
        <div class="col-xs-offset-3 col-xs-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    我接受
                    <a href="">《拼座族服务使用协议》</a>
                    <span>及</span>
                    <a href="">《隐私条款》</a>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group m30">
        <div class="col-xs-offset-3 col-xs-5">
            <button type="submit" class="btn btn-lg w btn-info p20 frame-nradius">立即注册</button>
        </div>
    </div>
</form>