<div class="page-list-title">
    <h4 class="page-header passenger-h">
        乘客需求
    </h4>
    <a href="#" class="more">
        更多
    </a>
</div>
<div class="page-list">
<ul>
  <% lines.each(function(line,i){ %> 
  <li class="<%= i==lines.length-1?'last':'' %>">
    <%== can.view.render('js/app/views/home/pincheNeed.ejs',{line:line}) %>
  </li>
  <% }); %>
</ul>
</div>