<div class="mt20 ml20">
  <h4>抽奖记录</h4>
</div>
<div class="user-cr">
  <table class="table  user-ctable">
    <thead>
      <tr >
        <th>活动单号</th>
        <th>抽奖时间</th>
        <th>获得奖品</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>2014-5-6</td>
        <td>50条短信</td>
        <td class="cr44">待发奖</td>
      </tr>
      <tr>
        <td>001</td>
        <td>2014-5-6</td>
        <td>50条短信</td>
        <td>已发奖</td>
      </tr>
    </tbody>
  </table>

</div>