<div class="mt20 ml20">
  <H4>我的基本信息</H4>
</div>
<div class="user-cr">
  <form class="form-horizontal w90" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label">手机号码：</label>
      <div class="col-xs-4">
        <p class="form-control-static">13303360636</p>
      </div>
      <div class="col-xs-5">
        <a class="ele-a form-control-static f14" href="">
          修改
        </a>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">邮箱：</label>
      <div class="col-xs-4">
        <p class="form-control-static">yuhongjie@mointe.cn</p>
      </div>
      <div class="col-xs-5">
        <a class="ele-a form-control-static f14" href="">修改</a>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">密码安全级别：</label>
      <div class="col-xs-4">
        <img class="form-control-static" src="images/psw.png"></div>
      <div class="col-xs-5">
        <a class="ele-a form-control-static f14" href="">修改</a>
      </div>
    </div>
    <div class="form-group form-group-sm has-success has-feedback">
      <label for="nickName" class="col-xs-3 control-label">昵称/姓名：</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="nickName" placeholder="心情">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
    </div>

    <div class="form-group  form-group-sm  has-success has-feedback">
      <label for="nickName" class="col-xs-3 control-label">所在地：</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="nickName" placeholder="河北省">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="nickName" placeholder="廊坊市">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="nickName" placeholder="固安"></div>
    </div>
    <div class="form-group">
      <label for="nickName" class="col-xs-3 control-label">性别：</label>
      <div class="col-sm-9">
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="man" value="option1">男士</label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="woman" value="option1">女士</label>
      </div>
    </div>
    <div class="form-group form-group-sm ">
      <label for="nickName" class="col-xs-3 control-label">出生年月：</label>
      <div class="col-sm-3">
        <select class="form-control">
          <option>2014</option>
          <option>2013</option>
          <option>2012</option>
          <option>2011</option>
          <option>2010</option>
        </select>
      </div>
      <div class="col-sm-3">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
      <div class="col-sm-3">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">个性签名：</label>
      <div class="col-xs-9">
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-9">
        <button type="submit" class="btn btn-primary">确认</button>
        <button type="reset" class="btn btn-default">重置</button>
      </div>
    </div>
  </form>

</div>