<div class="mt20 ml20">
  <H4>账号安全</H4>
</div>
<div class="ml30">
  <img src="images/level.png"></div>
<div class="user-cr">
  <table class="table user-center-an-table">
    <tbody>
      <tr>
        <td>
          <span class=" cr44"> <i class="fa  fa-mobile fa-lg  mr20"></i>
            绑定手机：
          </span> <b class="f12 cr44">已绑定</b>
        </td>
        <td >
          手机号码：
          <span>13303360636</span>
          <a class="f12 ml10" href="">更换号码</a>
        </td>
        <!-- <td>
        <button type="button" class="btn btn-success btn-sm">立即绑定</button>
      </td>
      -->
    </tr>
    <tr>
      <td >
        <span class="cr666"> <i class="fa fa-envelope fa-lg mr20"></i>
          绑定邮箱：
        </span> <b class=" cr66 f12">未绑定</b>
      </td>
      <td >绑定邮箱账号更安全</td>
      <td>
        <button type="button" class="btn btn-success btn-sm">立即绑定</button>
      </td>
    </tr>
  </tbody>
</table>

</div>