<div class="mt20 ml20">
  <H4>充值记录</H4>
</div>
<div class="user-cr">
  <table class="table user-ctable">
    <thead>
      <tr >
        <th>订单号</th>
        <th>充值时间</th>
        <th>支付类型</th>
        <th>充值金额</th>
        <th>短信条数</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>2014-5-6</td>
        <td>支付宝</td>
        <td>￥5</td>
        <td>50</td>
        <td>已支付</td>
      </tr>
      <tr>
        <td>001</td>
        <td>2014-5-6</td>
        <td>支付宝</td>
        <td>￥5</td>
        <td>50</td>
        <td>已支付</td>
      </tr>
      <tr>
        <td>001</td>
        <td>2014-5-6</td>
        <td>支付宝</td>
        <td>￥5</td>
        <td>50</td>
        <td>已支付</td>
      </tr>
    </tbody>
  </table>
</div>